 .card .card-title
{
  font-size: 18px !important;
}

.transparentBG {
  background-color: rgba(0,0,0,0);
}

nav ul a,
nav .brand-logo {
  color: #ffffff;
  font-size: 16px;
  /* background-image: url('../logo.jpg'); */
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #005b4f;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  color: #4ebaaa;
}

.parallax-container .section {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 110px 0;
}

.sectionHeading{
  text-align: center;
}
.parallax-container .sectionHeading h1{
    font-family: "DIN Medium"!important;
    color: #fff;
    font-size: 3em;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0 10px 20px;
}
.parallax-container .service-item .service-item-icon{
   display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    text-align: center;
    line-height: 110px;
    width: 110px;
    height: 110px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
}
.parallax-container .service-item{
  margin: 50px auto 0;
    width: 750px;
}
.parallax-container .service-item .service-item-text{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    width: 560px;
}
.parallax-container .service-item .service-item-text h4{
    font-family: "DIN Medium"!important;
    color: #99ecd0;
    font-size: 1.9em;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-copyright{
  background-color: #333 !important;
}


html, body, .block {
height: 100%;
font-family: 'PT Sans', sans-serif;
}
nav ul li a:hover, nav ul li a.active {
background-color: rgba(0,0,0,.1);
}

.menu-bg{
  background: linear-gradient(90deg,#43a999,#62c899);
}


.pin-top {
  position: relative;
}


.pin-bottom {
  position: relative;
}

.title{
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 80px;  
}