/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .card .card-title
{
  font-size: 18px !important;
}


.transparentBG {
  background-color: rgba(0,0,0,0);
}

nav ul a,
nav .brand-logo {
  color: #ffffff;
  font-size: 16px;
  /* background-image: url('../logo.jpg'); */
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #005b4f;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  color: #4ebaaa;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-copyright{
  background-color: #333 !important;
}


html, body, .block {
height: 100%;
}
nav ul li a:hover, nav ul li a.active {
background-color: rgba(0,0,0,.1);
}
footer {
padding-left: 0;
}


.menu-bg{
  background: linear-gradient(90deg,#43a999,#62c899);
}

  // Class for when element is above threshold
  .pin-top {
    position: relative;
  }

  // Class for when element is below threshold
  .pin-bottom {
    position: relative;
  }

  // Class for when element is pinned
  .pinned {
    position: fixed !important;
  }