.primary-color{
  background-color: #01aac1;
}
.card .card-title {
  font-size: 18px !important;
}
.transparentBG {
  background-color: rgba(0, 0, 0, 0);
}
nav ul a, nav .brand-logo {
  color: #ffffff;
  font-size: 16px;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #005b4f;
}
.parallax-container {
  min-height: 500px;
  line-height: 0;
  color: #0E91A1;
}
.parallax-container .section {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 110px 0;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}
.footer-copyright {
  background-color: #333 !important;
}
html, body, .block, p, h1, h2, h3, h4, h5 {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}
nav ul li a:hover, nav ul li a.active {
  background-color: rgba(0, 0, 0, .1);
}
.menu-bg {
 /*background: linear-gradient(90deg, #43a999, #62c899);
 */
  background: linear-gradient(90deg, #01AAC1, #00DBE7);
}
.pin-top {
  position: relative;
}
.pin-bottom {
  position: relative;
}
.title {
  font-size: 80px;
}
.icon-circle{
  right: auto !important;
  display: inline-block !important;
  vertical-align: top !important;
  text-align: center !important;
  line-height: 110px !important;
  width: 110px !important;
  height: 110px !important;
  border-radius: 50% !important;
  padding: 10px !important;
  shape-outside: circle(50%);
}
.slider .slides {
  background-color: transparent;
  margin: 0;
  height: 400px;
}
.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center top;
}

p {
  line-height: calc(1.5em + .2vw);
  font-family: 'Nunito', sans-serif;
  margin: 0;
  font-size: 18px;
  letter-spacing: -.25px;
  
}

.psicoach-color{
  background-color: #2badd9;
}


.necesidades-color{
  background-color: #223564;
}

.practica-color{
  background-color: #cdbfa4;
}

.icon-medium {
  shape-outside: inset(2% round 50%);
  border-radius: 60%;
  font-size: 3rem !important;
  shape-margin: 15px;
  shape-margin: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.icon {
  shape-outside: inset(2% round 50%);
  border-radius: 60%;
  font-size: 4rem !important;
  shape-margin: 15px;
  shape-margin: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.slider.fullscreen{
  position: relative;
}
.header-color{
  background: #00d5e3;
}


.z-depth-5 p,.z-depth-5 span {
  padding: 20px;
  margin: 0;
  background-color:rgba(0, 213, 227, 0.3);
  cursor: pointer;
}


.z-depth-5 h5, .z-depth-4 h4  {
  padding: 20px;
  margin: 0;
  background-color:rgba(0, 213, 227, 1);
  cursor: pointer;
}


.z-depth-5:hover {
  transform: scale(1.05);
}


.card:hover {
  transform: scale(1.05);
}

.z-depth-5 p:hover{
  background-color:rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 600px) {
  .slides li img{
    background-size: cover;
    background-position: center top;
    height: 600px !important;
    width: 600px !important;
  }

  .parallax img{
    
    height: 1000px !important;
    width: 1000px !important;
  }
}


.efecto-muestra{
  opacity: 0;
}

.parallax-container {
  height: "900px";
  width: "900px";
}

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}

.slides h3{
  font-family: 'Nunito', sans-serif;
}

.psicoach-text-color, .psicoach-text-color span{
  color: rgba(0, 213, 227, 1);
}

